<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'cdnlines.html'%}
    <title>Main Page</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="display-2 font-weight-bold text-center">MY TODO LIST</h1>
        <div class="text-center">
            {% if data%}
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>TITE</th>
                    <th>DATE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTIOON</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.Description}}</td>
                    <td>
                        <a href="{% url 'update' i.id %}" class="btn btn-success btn-sm">Update</a>
                        <a href="{% url 'delete' i.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1 class="text-center text-danger">No Recotd found</h1>
        {% endif %}
        </div>
        <div class="text-center">
            <a href="{% url 'formData' %}" class="btn btn-success btn-lg">Add New Task</a>

        </div>

    </div>
    
</body>
</html>